#encoding:utf-8
<!DOCTYPE html>
<html>
<head>
  <title>商城</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
